.app {
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center

 
}
.bitcoin{
  width: 420px;

 position: absolute;
 border: 2px solid black;
 box-shadow: indianred;
 background-color: #eeeee4;
}
.chart{
  background-color: #fff;
  margin: 10px;
}

.app-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.wallet-info {
  margin: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

.btc-amount {
  font-size: 20px;
}

.usd-value {
  font-size: 18px;
  color: grey;
}

.change-percentage {
  font-size: 16px;
  color: red;
}

.change-percentage.positive {
  color: green;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.buy-btn, .sell-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
}

.buy-btn {
  background-color: #4caf50; /* Green */
}

.sell-btn {
  background-color: #f44336; /* Red */
}
